EMAIL_USER=
EMAIL_PASS=
APPOINTMENT_EMAIL=jhaynesoptician@gmail.com
SENDER_EMAIL=
SENDINBLUE_API_KEY=
FRONTEND_ORIGINS=https://frontend-psi-ten-66.vercel.app,http://localhost:5173,http://127.0.0.1:5173
PORT=5000
